<div class="event-card favorite">

    <div class="title"><%= event.title %></div>

    <div class="favorites-actions">
        <% if user_signed_in? %>
            <% if current_user.favorited_events.include?(event)%>
                <div class="favorite"><%= button_to "Unfavorite", remove_from_favorites_path, params: { event: event.id, path: request.path } %></div>
            <% else %>
                <div class="favorite"><%= button_to "Favorite", add_to_favorites_path, params: { event: event.id, path: request.path } %></div>
            <% end %>
        <% else %>
            <div class="favorite"></div>
        <% end %>
        <div class="show"><button><%= link_to "Show", event %></button></div>
    </div>

</div>