<div class="events-index">
  <div class="current-events-bloc">
    <div class="events-header white">Current events</div>
  
    <div class="current-events">
      <% a = 1; @events.each do |event| %>
        <% if event.date > Time.now %>
          <div class="single-event <%= a.odd? ? "green" : "white" %>">
            <%= render "event_preview", :event => event %>
          </div>
          <% a += 1%>
        <% end %>
      <% end %>
    </div>
  </div>
  
  <div class="past-events-bloc">
    <div class="events-header white">Past events</div>
  
    <div class="past-events">
      <% a = 1; @events.each do |event| %>
        <% if event.date < Time.now %>
          <div class="single-event <%= a.odd? ? "green" : "white" %>">
            <%= render "event_preview", :event => event %>
          </div>
          <% a += 1%>
        <% end %>
      <% end %>
    </div>
  </div>
</div>