.preview {
    display: grid;
    grid-template: [row1-start] "date title location" 1fr [row1-end]
    [row2-start] "date-value title location-value" 1fr [row2-end]
    [row3-start] "description description description" 1fr [row3-end]
    [row4-start] "organizer . ." 1fr [row4-end]
    [row5-end] "favorite register show" [row5-end]
    / 1fr 1fr 1fr;
    row-gap: 5rem;
}

.preview .date {
    grid-area: date;
    font-weight: bold;
    font-size: 6rem;
}

.preview .date-value {
    grid-area: date-value;
    font-size: 4.5rem;
}

.preview .title {
    grid-area: title;
    justify-self: center;
    align-self: center;
    font-weight: bold;
    font-size: 8rem;
}

.preview .location {
    grid-area: location;
    justify-self: end;
    font-weight: bold;
    font-size: 6rem;
}

.preview .location-value {
    grid-area: location-value;
    justify-self: end;
    font-size: 4.5rem;
}

.preview .description {
    grid-area: description;
    place-self: center;
}

.preview .organizer {
    grid-area: organizer;
}

.preview .favorite {
    grid-area: favorite;
}

.preview .register {
    grid-area: register;
    justify-self: center;
}

.preview .show {
    grid-area: show;
    justify-self: end;
}