.event-card {
    display: grid;
    grid-template: [row1-start] "data title location" 1fr [row1-end]
    [row2-start] "data-value title location-value" 1fr [row2-end]
    [row3-start] "description description description" 1fr [row3-end]
    [row4-end] "favorite register back" [row4-end]
    / 1fr 1fr 1fr;
    row-gap: 5rem;
}

.event-card .data {
    grid-area: data;
}

.event-card .data-value {
    grid-area: data-value;
}

.event-card .title {
    grid-area: title;
    justify-self: center;
    align-self: center;
}

.event-card .location {
    grid-area: location;
    justify-self: end;
}

.event-card .location-value {
    grid-area: location-value;
    justify-self: end;
}

.event-card .description {
    grid-area: description;
    justify-self: center;
    display: flex;
    align-content: center;
    justify-content: center;
}

.event-card .favorite {
    grid-area: favorite;
}

.event-card .register {
    grid-area: register;
    justify-self: center;
}

.event-card .back {
    grid-area: back;
    justify-self: end;
}