.event-card {
    display: grid;
    grid-template: [row1-start] "date info location" 1fr [row1-end]
    [row2-start] "date-value title location-value" 1fr [row2-end]
    [row3-start] "description description description" 1fr [row3-end]
    [row4-start] "organizer . ." 1fr [row4-end]
    [row5-end] "favorite register back" [row5-end]
    / 1fr 1fr 1fr;
    row-gap: 5rem;
}

.event-card .date {
    grid-area: date;
    font-weight: bold;
    font-size: 6rem;
}

.event-card .date-value {
    grid-area: date-value;
    font-size: 4.5rem;
    align-self: end;
}

.event-card .info {
    grid-area: info;
    display: grid;
    grid-template: [row1-start] "private restricted invited" [row1-end]
    / 1fr 1fr 1fr;
    justify-content: space-between;
}

.event-card .private, .event-card .restricted, .event-card .invited {
    justify-self: center;
    font-weight: bold;
    place-self: center;
}

.event-card .private {
    grid-area: private;
}

.event-card .restricted {
    grid-area: restricted;
}

.event-card .invited {
    grid-area: invited;
}

.event-card .title {
    grid-area: title;
    justify-self: center;
    font-weight: bold;
    font-size: 8rem;
}

.event-card .location {
    grid-area: location;
    justify-self: end;
    font-weight: bold;
    font-size: 6rem;
}

.event-card .location-value {
    grid-area: location-value;
    justify-self: end;
    font-size: 4.5rem;
    align-self: end;
}

.event-card .description {
    grid-area: description;
    place-self: center;
}

.event-card .organizer {
    grid-area: organizer;
}

.event-card .favorite {
    grid-area: favorite;
    justify-self: start;
}

.event-card .register {
    grid-area: register;
    justify-self: center;
}

.event-card .back {
    grid-area: back;
    justify-self: end;
}