.event-card.favorite {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.favorites-actions {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 5rem;
}

.user-panel .favorites {
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
    max-height: auto;
    overflow: scroll;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.user-panel .events-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 5rem;
    border-radius: 25px;
    height: 20rem;
    width: 25rem;
}

.user-panel .events-info.green {
    background-color: rgb(140, 236, 140);
    color: white;
}

.user-panel .events-info.white {
    background-color: white;
    color: rgb(140, 236, 140);
}

.user-panel .user-actions {
    margin: 0;
}

.user-panel .favorites::-webkit-scrollbar {
    display: none;
}

.user-panel .user-profile {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.events-header.username {
    display: flex;
    justify-content: space-between;
}

.user-events, .registered-events {
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
}