.invitees-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, 150px);
    row-gap: 5rem;
    margin: 1.2rem 12.5rem;
    max-height: 100rem;
    overflow: scroll;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.invitees-container::-webkit-scrollbar {
    display: none;
}

.invitees-list .single-invitee {
    width: 100px;
    place-self: center;
}

.single-invitee {
    background-color: white;
    color: rgb(140, 236, 140);
    padding: 2.5rem;
    border-radius: 25px;
}