/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

:root {
    font-size: 4px;
}

body {
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
    margin: 0;
    background-color: rgb(231, 231, 231);
    font-size: 4rem;
    padding: 1.2rem;
    height: 100vh;
    width: 100vw;
    box-sizing: border-box;
}

.notice, .alert {
    position: absolute;
    top: 5rem;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 5px;
    font-size: 24px;
    width: fit-content;
    height: fit-content;
    margin: 0 auto;
    pointer-events: none;
    box-sizing: border-box;
}

.notice {
    color: rgb(1, 165, 1);
}

.alert {
    color: tomato;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(140, 236, 140);
    color: white;
    font-size: 8rem;
    padding: 2.5rem;
    font-weight: bold;
    border-radius: 25px;
}

.user-buttons  {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2.5rem;
}

button, .button {
    width: 25rem;
    height: 6.25rem;
    border-radius: 25px;
    font-weight: bold;
    z-index: 1;
}

.white .green button, .green button, .white .green .button, .green .button {
    background-color: white;
    color: rgb(140, 236, 140);
    border: none;
    font-size: 4rem;
}

.green .white button, .white button, .green .white .button, .white .button {
    background-color: rgb(140, 236, 140);
    color: white;
    border: none;
    font-size: 4rem;
}

.green {
    border: 5px solid white;
}

.white {
    border: 5px solid rgb(140, 236, 140);
}

button a:link, button a:visited, button a:active, button a:hover {
    text-decoration: none;
    color: inherit;
}

a:link, a:visited, a:active, a:hover {
    font-weight: bold;
    color: inherit;
}

.user-actions {
    display: flex;
    justify-content: center;
    gap: 6.25rem;
    margin-top: 4rem;
}

label {
    font-weight: bold;
    font-size: 4.5rem;
}

form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1.2rem;
}

input {
    width: 60rem;
}
